
@{
    ViewBag.Title = "hobbies";
}

<img src="~/images/chaton.png"/>
<h2>hobbies</h2>
<ul>
    <li>dormir</li>
    <li>voir divers tuto</li>
    <li> lire</li>
    <li>jouer aux jeux vidéo</li>
    <li>aller au cinema ( quand le covid repartira d'ou il vient</li>
</ul>

<p>Mais cela n'est possible que quand on a du temps libre</p>

